@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');



body{
    background-color: rgb(31, 38, 34);
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
    bottom: 5px;
}


/* NavBar */
.container{
    overflow:hidden;
    margin: auto;
}

header > .container{
    display: flex;
    justify-content:space-between;  
}

header ul{
    height: 100%;
    display: flex;
    align-items: center;
}

header li{
    list-style: none;
    padding: 30px;
    z-index: 1;
}

header a{
    color: #e6e6e6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#slogan{
    border: 2px solid  rgb(245, 245, 245,0.5);
    font-family: 'Cinzel', serif; 
    display: flex;
    justify-content: center;
    margin:0;
    border: none;
    border-bottom: rgb(245, 245, 245,0.5)solid 8px;
    font-size: xx-large;
    /* padding-bottom: 1em; */
}

/* Contact form */
#form{
 padding-left: 20em;
 padding-top: 3em; 
 padding-bottom: 5em; 
}

  form{
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    padding:  2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 90px;

  }
  
  form h3{
    color: rgb(36, 32, 32);
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  form input, form textarea{
    border: 0;
    margin: 4px 0;
    padding: 20px;
    outline: none;
    background-color: rgb(48, 46, 46);
    font-size: 16px; 
  }

  form button{
    padding: 15x;
    background: rgb(221, 206, 206);
    color:  rgb(36, 32, 32);
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 10px auto 0;
    border-radius: 30px;
  }

  /* Animation*/

  #form{
      transition-property:all ;
     transition-duration: 4s;
     transition-timing-function: ease-in;
     transition-delay: 0s;
  }

  /* DoubleColor*/
  #homebackg{
    background-color:rgba(198, 222, 198, 0.5) ;
    background-size: 90%;
    position: absolute;
    display: flex;
    margin: 0;
    top: 3.5em;
    right: 1.5em;
    padding: 15px 30px;
    width: 2px;
}

#aboutbackg{
    background-color:rgba(198, 222, 198, 0.5) ;
    background-size: 90%;
    position: absolute;
    display: flex;
    margin: 0;
    top: 3.5em;
    right: 17.5em;
    padding: 15px 30px;
    width: 12px;
}

#contactbackg{
    background-color:rgba(198, 222, 198, 0.5) ;
    background-size: 90%;
    position: absolute;
    display: flex;
    margin: 0;
    top: 3.5em;
    right: 8.5em;
    padding: 15px 30px;
    width: 40px;
}

/* Bottom Contacts */

#fb{
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: -18.9em;
    left: 30em;
    color: antiquewhite;
    padding-bottom: 8em;
    z-index: 2;
}

#insta{
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: -18.9em;
    left: 40em;
    color: antiquewhite;
    padding-bottom: 8em;
    z-index: 2;
}

#tw{
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: -18.9em;
    left: 50em;
    color: antiquewhite;
    padding-bottom: 8em;
    z-index: 2;
}

/* div lines  */
#bottomline{
    background-color: rgb(245, 245, 245,0.5);
    position: absolute;
    display: flex;
    margin: 0;
    bottom: -15em;
    right: 0px;
    padding: 70px;
    padding-bottom: none;
    width: 100%;
}

/* Social Quote */
#contactS{
    border-bottom: rgb(132, 125, 125) solid;
    font-family:'Cinzel', serif rgb(25, 25, 25) italic;
    size: 5px;
    position: absolute;
    margin: 0;
    right: 33em;
   top: 59em;
}

